@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
